
body,
html{
    text-align: center;
    color: white;
}

body{
    background-color: #333;
    font-family: Georgia;
}

div.page{
    width: 70%;
    margin: 50px auto 50px auto;
    max-width: 500px;
    position: relative;
    text-align: left;
}
div.border_image{
    border:30px solid transparent;
    border-right:30px;
    border-bottom:20px;
    border-left:30px;
    -moz-border-image:url(border.jpg) 70 70 round;   /* Old Firefox */
    -webkit-border-image:url(border.jpg) 70 70 round;    /* Safari and Chrome */
    -o-border-image:url(border.jpg) 70 70 round;     /* Opera */
    border-image:url(border.jpg) 70 70 round;
}

div.pic-zoom {
    position: relative;
}
div.pic-zoom a{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    background: #333;
    padding: 3px;
    font-size: 11px;
}

div.pic-zoom div.description {
    position: absolute;
    top: 500px;
    left: 210px;
}

div.pic-zoom div.description h1{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
}
div.pic-zoom div.description p{
    margin: 0px;
}

ul{
    margin: 0;
    padding: 0;
}