
*{margin:0;padding:0;} 
.faa{background:#000;width:100%; margin: 0 auto;} 
.top{margin:20px 0;} 
.top input{width:25px;height:25px;border:1px solid #fff;border-radius:4px;background:#ddd;} 
.top .i1{background:#000000;} 
.top .i2{background:#FF0000;} 
.top .i3{background:#80FF00;} 
.top .i4{background:#00FFFF;} 
.top .i5{background:#808080;} 
.top .i6{background:#FF8000;} 
.top .i7{background:#408080;} 
.top .i8{background:#8000FF;} 
.top .i9{background:#CCCC00;} 
#canvas{background:#eee;cursor:default; } 
.font input{font-size:14px;} 
.top .grea{background:#aaa;} 

body,
html{
    color: white;
    font-size: 9pt; 
}

body{
    background-color: #f7f7f7;
    font-family: Georgia;
}
.box-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
    -webkit-align-items: center;
        align-items: center;
    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
    -webkit-justify-content: center;
        justify-content: center;
}
div.pic-container{
    background-color: #f7f7f7;
    box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
}
div.page{
    width: 70%;
    margin: 10px auto 10px auto;
    max-width: 500px;
    position: relative;
    text-align: left;
}
div.border_image{
    border:15px solid transparent;
    border-color:#F3BF2E #F6CD51 #F3BF2E #F3C030;
    display: block;
    //border-right:30px;
    //border-bottom:20px;
    //border-left:30px;
    //-moz-border-image:url(border.jpg) 70 70 round;   /* Old Firefox */
    //-webkit-border-image:url(border.jpg) 70 70 round;    /* Safari and Chrome */
    //-o-border-image:url(border.jpg) 70 70 round;     /* Opera */
    //border-image:url(border.jpg) 70 70 round;
}

div.pic-zoom {
    position: relative;
}
div.pic-zoom a{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    background: #333;
    padding: 3px;
    font-size: 11px;
}

div.pic-zoom div.description {
    position: absolute;
    top: 500px;
    left: 210px;
}

div.pic-zoom div.description h1{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
}
div.pic-zoom div.description p{
    margin: 0px;
}

.infoBox{
    color:#000;
    background-color: #f7f7f7;
    box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
    -webkit-align-items: center;
        align-items: center;
    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
    -webkit-justify-content: center;
        justify-content: center;
}

.price-text{  
    color:#967F47;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.split{
    color:#967F47;
}
.line{
    border-top:1px solid #000000;
    width:60%;
}



ul{
    margin: 0;
    padding: 0;
}