
*{margin:0;padding:0;} 
.faa{background:#000;width:100%; margin: 0 auto;} 
.top{margin:20px 0;} 
.top input{width:25px;height:25px;border:1px solid #fff;border-radius:4px;background:#ddd;} 
.top .i1{background:#000000;} 
.top .i2{background:#FF0000;} 
.top .i3{background:#80FF00;} 
.top .i4{background:#00FFFF;} 
.top .i5{background:#808080;} 
.top .i6{background:#FF8000;} 
.top .i7{background:#408080;} 
.top .i8{background:#8000FF;} 
.top .i9{background:#CCCC00;} 
#canvas{background:#eee;cursor:default;z-index: 200;position: relative;opacity:0.7;} 
.font input{font-size:14px;} 
.top .grea{background:#aaa;} 
.font{
    position: relative;
    margin: -34px 20px 0 0;
    background-color: rgba(255,255,255,0);
    border: none;
    z-index: 300;
    float: right;
}
.font input{
    border-width: 0px;
    width: 17px;
    color: #fff;
    background-color: #fff;
    border-radius: 50%;
    margin-right: 12px;
}

.canvas-bk{
    position: absolute;
    width:100%;
    height:300px;
    color: #949494;
    background-color:#dadada;
}
.canvas-bk .tips{
    font-size: 1.5em;
}
.tips-pencil{
    margin-top: 20%;
}

.canvas-bottom{
    background-color: #fff;
    color: #000;
    width: 100%;
    height: 500px;
}

.btn-use-nick{
    background-color: #435984;
}

.commentBox-discus .left  {
    -webkit-animation: fadeInLeftBig .5s .1s ease both;
    -moz-animation: fadeInLeftBig .5s .1s ease both;
}

@-webkit-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-1000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInLeftBig {
    0% {
        opacity: 0;
        -moz-transform: translateX(-1000px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

.commentBox-discus .right  {
    -webkit-animation: fadeInRightBig 2s .1s ease both;
    -moz-animation: fadeInRightBig 2s .1s ease both;
}

@-webkit-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -webkit-transform: translateX(1000px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

@-moz-keyframes fadeInRightBig {
    0% {
        opacity: 0;
        -moz-transform: translateX(1000px);
    }

    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}


.transition_fast {
    -webkit-transition: .6s ease;
    -moz-transition: .6s ease;
    -ms-transition: .6s ease;
    -o-transition: .6s ease;
    transition: .6s ease;
}

.slider-container{
    position: relative;
    overflow: hidden;
    height:20%;

    top:0px;
    width:100%;
    background: #fff;
}

.slider-wrapper {
    position: relative;
    height: 100%;
    z-index: 1;
    width:200%;
    /*overflow-x: auto;*/
    /*display: inline-block;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    -ms-transition-property: -ms-transform;
    transition-property: transform;
}

.slider-page {
    display: inline-block;
    /*display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;*/
    height: 100%;
    background-size: 100% 100% !important;
    float: left;
}
.slide-page-1{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-木质1.png");}
.slide-page-2{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-木质2.png");}
.slide-page-3{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-木质3.png");}
.slide-page-4{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-塑料制1.png");}
.slide-page-5{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-塑料制2.png");}
.slide-page-6{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代1.png");}
.slide-page-7{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代带黑框黑.png");}
.slide-page-8{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代带框黑.png");}
.slide-page-9{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代带框红.png");}
.slide-page-10{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代带框黄.png");}
.slide-page-11{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代带框青.png");}
.slide-page-12{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代带青框红.png");}
.slide-page-13{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代红.png");}
.slide-page-14{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代黄.png");}
.slide-page-15{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代青.png");}
.slide-page-16{background-image: url("http://7xkkuk.com2.z0.glb.qiniucdn.com/hk-s-现代青.png");}



.pic-sign{
}
.pic-sign img{
    width: 70px;
    margin: -80px 20px;
    position: absolute;
    right: 30px;
}


body,
html{
    color: white;
    font-size: 9pt; 
}

body{
    background-color: #f7f7f7;
    font-family: Georgia;
}
.box-center{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
    -webkit-align-items: center;
        align-items: center;
    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
    -webkit-justify-content: center;
        justify-content: center;
}
.box-vertical{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
    -webkit-align-items: center;
        align-items: center;
    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
    -webkit-justify-content: center;
        justify-content: center;
}
div.pic-container{
    background-color: #f7f7f7;
    box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
}
div.page{
    width: 70%;
    margin: 10px auto 10px auto;
    max-width: 500px;
    position: relative;
    text-align: left;
}
div.border_image{
    border:15px solid transparent;
    border-color:#F3BF2E #F6CD51 #F3BF2E #F3C030;
    display: block;
    border-right:30px;
    border-bottom:20px;
    border-left:30px;
    -moz-border-image:url(border.jpg) 70 70 round;   /* Old Firefox */
    -webkit-border-image:url(border.jpg) 70 70 round;    /* Safari and Chrome */
    -o-border-image:url(border.jpg) 70 70 round;     /* Opera */
    border-image:url(border.jpg) 70 70 round;
}

div.pic-zoom {
    position: relative;
}
div.pic-zoom a{
    color: white;
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-decoration: none;
    background: #333;
    padding: 3px;
    font-size: 11px;
}

div.pic-zoom div.description {
    position: absolute;
    top: 500px;
    left: 210px;
}

div.pic-zoom div.description h1{
    font-size: 40px;
    margin: 0px;
    margin-bottom: 10px;
}
div.pic-zoom div.description p{
    margin: 0px;
}

.infoBox{
    color:#000;
    background-color: #f7f7f7;
    box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
    -webkit-align-items: center;
        align-items: center;
    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
    -webkit-justify-content: center;
        justify-content: center;
    margin-bottom: 20px;
}
.infoBox-loading{
    color:#000;
    background-color: #f7f7f7;
    box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
    -webkit-box-align: center;
        -moz-box-align: center;
        -ms-flex-align: center;
    -webkit-align-items: center;
        align-items: center;
    -webkit-box-pack: center;
        -moz-box-pack: center;
        -ms-flex-pack: center;
    -webkit-justify-content: center;
        justify-content: center;
    margin-bottom: 20px;    
}

.infoBox *{
    margin: 5px 0px;
}
.nfoBox-loading *{
    margin: 8px 0px;
}

.price-text{  
    color:#967F47;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

.split{
    color:#967F47;
}
.line{
    border-top:1px solid #000000;
    width:60%;
}

.commentBox-discus{
    height: 95px;
}

.commentBox{
    background-color: #fff;
    color: #000;
}
.commentBox *{
    margin: 8px 0px;
}

.avatar{
    display:inline-block;
    /*background-image: url(lipper.jpg);*/
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: 30px;
}

.avatar-right{
    display:inline-block;
    /*background-image: url(lipper.jpg);*/
    height: 30px;
    width: 30px;
    border-radius: 15px;

    float: right;
    margin: -10px 20px;
}

.nickname{
    display:inline-block;
    margin-left: 10px;
}
.nickname-right {
    display: inline-block;
    margin: -9px 0px 10px;
    float: right;
}

.colorA{
    border-radius: 5px;
    padding: 10px;
    background-color: #20ACD1;
    color: white;
}

.colorB{
    border-radius: 5px;
    padding: 10px;
    background-color: #56BE89;
    color: white;
}

.comment *{
    color: #747474;
    font-size: 1.2em;
}

.button-container{
}
.button{
    background-color: #1e1e1e;
    text-align:center;
    color:#fff;
    width: 60%;
    padding: 10px 30px;
}

ul{
    margin: 0;
    padding: 0;
}